/* Shared Style */
/* *{
    margin:0;
    padding:0;
} */
body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    padding: 18px 35px 19px 36px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

/* Nav Related Style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;

}

/* Header related */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-content {
    max-width: 500px;

}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;


}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-des {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 130px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* About Section */

.about {
    padding: 136px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #7474747;

}

#what-i-do {
    padding: 30px 150px;


}

/* WHat i do section */
.skills-container {
    display: flex;
        gap: 24px;

}

.skill-description {}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
/* resume section */
.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color:#474747;

}
.resume-container{
    display: flex;
    justify-content: space-between;
}